---
# Source: muzic-server-charts/templates/secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: mzsv
type: Opaque
data:
  password: "MA=="
---
# Source: muzic-server-charts/templates/postgres-pvc.yaml
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: mzsv
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
---
# Source: muzic-server-charts/templates/postgres-deployment.yaml
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: mzsv
spec:
  selector:
    app: postgres
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 5432
  type: ClusterIP
---
# Source: muzic-server-charts/templates/server-deployment.yaml
apiVersion: v1
kind: Service
metadata:
  name: muzic-server-service
  namespace: mzsv
spec:
  selector:
    app: muzic-server
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30080
  type: NodePort
---
# Source: muzic-server-charts/templates/postgres-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  namespace: mzsv
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: muzicdb
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: password
          volumeMounts:
            - name: postgres-storage
              mountPath: /var/lib/postgresql/data
          resources:
            limits:
              cpu: 500m
              memory: 512Mi
            requests:
              cpu: 250m
              memory: 256Mi
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
---
# Source: muzic-server-charts/templates/server-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: muzic-server-deployment
  namespace: mzsv
  labels:
    app: muzic-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: muzic-server
  template:
    metadata:
      labels:
        app: muzic-server
    spec:
      containers:
        - name: muzic-server
          image: "hienvinh/mz-sv:0.0.2-beta-0.0.1"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              value: postgres-service
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: muzicdb
            - name: DB_USER
              value: postgres
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: password
          resources:
            limits:
              cpu: 500m
              memory: 1Gi
            requests:
              cpu: 250m
              memory: 512Mi
