namespace: app-muzic

postgres:
  database: muzicdb
  user: postgres
  password: "0"
  storageSize: 10Gi
  resources:
    requests:
      memory: "256Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  service:
    port: 5432
    nodePort: 30432

server:
  image:
    repository: hienvinh/mz-sv
    tag: "0.0.3"
    pullPolicy: IfNotPresent
  replicas: 1
  resources:
    requests:
      memory: "512Mi"
      cpu: "250m"
    limits:
      memory: "1Gi"
      cpu: "500m"
  service:
    type: NodePort
    port: 80
    nodePort: 30080
